* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
}

header {
  background: #333;
  color: #ddd;
  padding: 30px;
}

section {
  flex: 1 0 auto;
  padding: 30px;
}

.game-section {
  border: 5px solid #000;
}

.game-section {
  border-radius: 15px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.game-section {
  padding: 10px;
}

.score {
  float: right;
  position: relative;
}

.record {
  position: absolute;
}

.game-options {
  background: #333;
  border-radius: 10px;
  bottom: 300px;
  display: flex;
  flex-direction: column;
  place-items: center;
  line-height: 1.5rem;
  margin: 0 auto;
  position: relative;
  width: 70%;
  z-index: 3;
}

.game-options {
  padding: 20px;
}

.game-options .result {
  color: #ddd;
}

.game-options div {
  width: 20%;
}

.game-options .restart {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.game-options .restart {
  padding: 3px;
}

.game-options .exit {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.game-options .exit {
  padding: 3px;
}

.title {
  text-align: center;
}

.score {
  text-align: right;
}

.hole {
  animation: hole-animation 1.5s infinite linear;
  bottom: 0;
  position: absolute;
  width: 120px;
  z-index: 3;
}

.human {
  bottom: 20px;
  overflow: hidden;
  position: absolute;
  width: 120px;
}

.jump {
  animation: jump 500ms infinite ease-in-out;
}

footer {
  background: #333;
  color: #ddd;
  padding: 30px;
  text-align: center;
}

@keyframes hole-animation {
  from {
    right: -120px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 20px;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .game-section {
    font-size: 8pt;
    width: 100%;
  }

  .game-options {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  header {
    padding: 60px;
  }

  footer {
    padding: 60px;
  }
}
